.btn:focus {
  outline: none;
  box-shadow: none;
}

.alert-success{
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 250px;
    text-align: center;
    z-index: 9999;
  }